<nav class="header-bar navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#apps-box-link">Apps</a></li>
                <li><a href="#sites-box-link">Sites</a></li>
                <li><a href="#software-box-link">Software</a></li>
                <li><a href="#equipe-box-link">Quem somos</a></li>
                <li><a href="#teaser-box-link">Portfólio</a></li>
                <li><a href="#contato-box-link">Contato</a></li>
            </ul>
        </div>
    </div>
</nav>