<span class="header-bar navbar navbar-default navbar-fixed-top">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
            <li><a href="#apps-box-link">Apps</a></li>
            <li><a href="#sites-box-link">Sites</a></li>
            <li><a href="#teaser-box-link">Portfólio</a></li>
            <li><a href="#contato-box-link">Contato</a></li>
        </ul>
    </div>
</span>