<div id="contact-form">
    <h1 class="text-center"><strong>FALE CONOSCO</strong></h1>
    <a ui-sref="home"><< Voltar</a>
    <form name="contactForm" novalidate>
        <label>Prefixo*:</label>
        <div class="salutations">
            <span><input type="radio" ng-model="contact.gender" value="male" required>Sr.</span>
            <span><input type="radio" ng-model="contact.gender" value="female" required>Sra.</span>
        </div>
        <div class="text-danger" ng-show="contactForm.$submitted  && !contact.gender">Favor adicionar um prefixo.</div>
        <label>Nome*:</label>
        <input class="form-control" type="text" ng-model="contact.name" placeholder="Seu nome..." required>
        <label>Email*:</label>
        <input class="form-control" ng-model="contact.email" type="email" name="contactEmail" placeholder="Endereço de email..." required>
        <div class="text-danger text-right" ng-show="contactForm.$submitted  && contactForm.contactEmail.$error.required">Favor inserir um endereço de email.</div>
        <div class="text-danger text-right" ng-show="contactForm.$submitted  && contactForm.contactEmail.$error.email">Este endereço de email não é válido.</div>
        <label>Telefone:</label>
        <input class="form-control" type="text" ng-model="contact.phone" placeholder="Seu telefone...">
        <label>Mensagem:</label>
        <textarea class="form-control" maxlength="500" placeholder="Deixe sua mensagem..."></textarea>
        <button ng-click="sendContactForm(contact)" ng-class="{'disabled': sendDisabled}">Enviar</button>
        <p class="text-right">*Campos obrigatórios</p>
    </form>
</div>