<div id="home">
    <div class="intro-box">
        <h1 class="text-center">THE <strong>CODEAM</strong></h1>
        <h2 class="text-center">ETC</h2>
        <div class="instructions-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img src="/images/Laptop@2x.png" class="monitor col-lg-7 col-md-6 col-sm-6 col-xs-12">
            <span class="instructions col-lg-5 col-md-6 col-sm-6 col-xs-12">
                <div class="instruction">
                    <span class="order">1</span>
                    <span class="text">
                        <strong>TEST</strong>
                        <div>TEST</div>
                    </span>
                </div>
                <div class="instruction">
                    <span class="order">2</span>
                    <span class="text">
                        <strong>TEST</strong>
                        <div>TEST</div>
                    </span>
                </div>
                <div class="instruction">
                    <span class="order">3</span>
                    <span class="text">
                        <strong>TEST</strong>
                        <div>TEST</div>
                    </span>
                </div>
            </span>
        </div>
    </div>
    <div class="part-service-box">
        <h1 class="text-center"><strong>CODEAM</strong></h1>
        <div class="part-service-wrapper">
            <img src="" class="service-monitor col-lg-7 col-md-6 col-sm-6 col-xs-12"></img>
            <span class="service-description col-lg-5 col-md-6 col-sm-6 col-xs-12">
                <h2>TESTE</h2>
                <h1><strong>TESTE</strong></h1>
                <ul>
                    <li><span>teste </span></li>
                    <li><span>teste </span></li>
                    <li><span>teste </span></li>
                    <li><span>teste </span></li>
                </ul>
            </span>
        </div>
    </div>
    <div class="teaser-box">
        <h1 class="text-center"><strong>TESTE</strong></h1>
        <div class="teasers col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <span class="teaser col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img src="/images/browser_no_image_2.svg" class="browser">
                <strong>TEST</strong>
                <div>TEST</div>
            </span>
            <span class="teaser col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img src="/images/browser_no_image_2.svg" class="browser">
                <strong>TEST</strong>
                <div>TEST</div>
            </span>
        </div>
        <div class="teasers col-lg-12 col-md-12 col-sm-12">
            <span class="teaser col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img src="/images/browser_no_image_2.svg" class="browser">
                <strong>TEST</strong>
                <div>TEST</div>
            </span>
            <span class="teaser coming-soon col-lg-6 col-md-6 col-sm-6 hidden-xs">
                <img src="/images/browser_your_service_idea.svg" class="browser">
            </span>
        </div>
        <div class="survey-area">
            <h1 class="text-center"><strong>TEST</strong></h1>
            <h2 class="text-center">test</h2>
        </div>
    </div>
    <div class="email-box">
        <h1 class="text-center"><strong>TEST</strong></h1>
        <h2 class="text-center">test</h2>
        <button class="contact-button" ui-sref="contact-form">test</button>
    </div>
</div>