<div id="home">
    <div id="intro-box-link" class="intro-box" parallax-background parallax-ratio="0.3">
        <h1 class="text-center"><strong>CODEAM</strong></h1>
        <h2 class="text-center">desenvolvimento de aplicativos, sites e softwares para sua empresa</h2>
        <button class="botao-contato">Contato</button>
    </div>
    <div id="apps-box-link" class="apps-box">
        <h1 class="text-center"><strong>APLICATIVOS</strong></h1>
        <h2 class="text-center">O CodeAM tem uma vasta experiência na área de aplicativos para smartphones, e sua empresa não pode ficar de fora, um meio a mais de comunicação com seus clientes.</h2>
        <span class="glyphicon glyphicon-phone text-center"></span>
    </div>
    <div id="sites-box-link" class="sites-box">
        <h1 class="text-center"><strong>Sites</strong></h1>
        <h2 class="text-center">Mostre sua empresa para o mundo, ter um site hoje é um diferencial enorme em relação aos seus concorrentes, não perca mais tempo e garanta já o seu. Otimizações para o Google farão seu site aparecer cada vez mais no topo das pesquisas.</h2>
        <span class="glyphicon glyphicon-duplicate text-center"></span>
    </div>
    <div id="software-box-link" class="software-box">
        <h1 class="text-center"><strong>Software</strong></h1>
        <h2 class="text-center">Se sua empresa precisa de um sistema específicos, nós fazemos. Com uma equipe altamente qualificada, o CodeCM consegue trabalhar com os mais variados seguimentos do mercado, aqui nada é impossível para nós.</h2>
        <span class="fa fa-television text-center"></span>
    </div>
    <div id="teaser-box-link" class="teaser-box">
        <h1 class="text-center"><strong>Veja aqui o que já fizemos</strong></h1>
        <div class="teasers col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <span class="teaser col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img src="/images/browser_no_image_2.svg" class="browser">
                <strong>TEST</strong>
                <div>TEST</div>
            </span>
            <span class="teaser col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img src="/images/browser_no_image_2.svg" class="browser">
                <strong>TEST</strong>
                <div>TEST</div>
            </span>
        </div>
        <div class="teasers col-lg-12 col-md-12 col-sm-12">
            <span class="teaser col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img src="/images/browser_no_image_2.svg" class="browser">
                <strong>TEST</strong>
                <div>TEST</div>
            </span>
            <span class="teaser coming-soon col-lg-6 col-md-6 col-sm-6 hidden-xs">
                <img src="/images/browser_your_service_idea.svg" class="browser">
            </span>
        </div>
    </div>
    <div id="contato-box-link" class="contato-box">
        <h1 class="text-center"><strong>GOSTOU?</strong></h1>
        <h2 class="text-center">Não perca tempo, entre em contato conosco!</h2>
        <button class="botao-contato">Fale conosco</button>
    </div>
</div>