@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/OpenSans-Regular.ttf");
  src: url("../fonts/OpenSans-Regular.woff"); }
@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/OpenSans-Light.ttf"); }
@font-face {
  font-family: "Open Sans Bold";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/OpenSans-Bold.ttf"); }
